body{
    background-color: whitesmoke;
        
}
.row{
    width: 60%;
    float: left;
}

h1{
    text-decoration: none;
    margin-bottom: 30px;
    margin-top:170px;
    padding-left: 250px;
    font-size: 30px;
    font-family: sans-serif
}
b.name{
    font-size: 35px;        
}
p.Otherstuff{
    padding-left: 250px;
    font-family:sans-serif;
    font-size: 15px;
    color: slategrey;
}
p.Para{
    padding-left: 250px;
    font-family:sans-serif;
    font-size: 15px;
    color: slategrey;
    width: 100%;
}
a.animate{
    text-decoration: none;
    color: black;
    line-height: 1.5;
    font-weight: 700;
    color: #454545;
    
    
}
a.animate:hover{
 color: indianred;
}
.intro{
    width: 40%;
    line-height: 1.5;
    
}
b.Uni{
    color: #454545;
}
.ending{
    padding-top: 40px;
    
}
p.end{
    padding-left: 250px;
    font-family:sans-serif;
    font-size: 19px;
    color: slategrey;
    
}
.img{
    float: left;
    padding-top: 100px;
    padding-left: 10px;
        
}
img{
    width: 120%;
    height: auto;
}